body{
    background-image: url("../sources/imgs/Costa/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    resize: both;
    text-align: justify;
    border-style: hidden;

}

#ParteNormal
{
    padding: 20%;
    padding-top: 0%;
    padding-bottom: 0%;
}


h1{
    background-image: linear-gradient(1deg,hsl(48, 49%, 75%), rgb(255, 0, 0));
    background-size: 10%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 50px;
    text-decoration: underline;
    font-family: sans-serif;
    text-transform: uppercase;
}

ol{
    list-style-type: none;
    text-align: center;
}

#index{
    border-style:hidden;
    background-color: hsla(34, 55%, 33%, 0.959);
    border-radius: 10%;
    padding: 1px ;
    opacity:0.8;
    
  }

img{
    width: 600px;
    height: 400px;

}
.ImagenNormal
{
        border-radius: 30%;
    border-style: double;
    border-width: 1cm;
    border-style: groove;
    border-color: rgb(113, 214, 248);
}
#info{
    background-color:hsla(214, 77%, 83%, 0.747);
    padding: 2px;
    
    
}

p{
    font-size: 20px;
    color:rgb(2, 4, 7);
}

#natural{

    color: rgb(57, 107, 61);  
}

h2{
    background-color: rgb(1, 66, 243);
    background-image: linear-gradient(1deg,hsl(48, 49%, 75%), rgb(255, 0, 0));
    background-size: 10%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 340%;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-right: 3.2%;
}

a:visited
{
    color: rgb(125, 11, 148);
}

a
{
    color:rgb(36, 24, 212);
}

small
{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    
}

#creadores{
    list-style:none;
}

#Inicio{
    color: rgb(255, 255, 255);
    font-family: serif;
    font-size: 200%;
    border-style:groove;
    background-color: hsla(34, 24%, 55%, 0.959);
    padding: 1px;
    
}

div
{
    text-align: center;
}

small
{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    
}

#ImagenTabla
{
    width:300px;
    height: 200px;
    margin-right: 1em;
    float:left;
    margin-left: 1em;
    resize: both;
}
#ParrafoDetails
{
    font-size: 70%;
    text-align: justify;
    border: 0;
    font-family: sans-serif;
    font-weight: bold;
    resize: both;
}
#SummaryTablas
{
    display: table;

    text-align: center;
    font-weight: bold;
}

#Tabla2
{
    margin-left: 15em;
}
#Tablas
{
    background-color: rgba(133, 177, 216, 0.562);
    
}

#Tabla1
{
display: flex;
align-items: center;
}